@import "../../styles/_variable.scss";

.main-panel {
  transition: margin-left 0.3s ease-in-out;

  &.shifted {
    margin-left: 25%;
    max-width: -webkit-calc(100% - 25%);
  }

  &__breadcrumbs {
    background-color: $breadcrumbs-bg;
    opacity: 1;
  }

  &__container {
    background-color: $main-container-bg;
    opacity: 1;
  }

  &__menu-icon {
    display: flex !important;
    color: $user-name-color;
    justify-content: left;
  }
}
