.kanban-board-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  box-sizing: border-box;
  align-items: baseline;
  justify-content: space-between;
}

.kanban-column {
  flex: 0 0 auto;
  margin-right: 1rem;
}
